# Environment variables
.env
.env.*
!.env.example

# Node / Backend
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android / iOS / IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
